{
    "presets": [
        "react", ["env", {
            "exclude": ["transform-async-to-generator", "transform-regenerator"],
            "modules": false,
            "loose": true
        }]
    ],
    "plugins": [
        "transform-object-rest-spread"
    ],
    "env": {
        "commonjs": {
            "presets": [
                [
                    "env",
                    {
                        "loose": true
                    }
                ]
            ]
        }
    }
}